              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><img src="assets/img/toybox.png" height="32px" width="120px"/></a>
            <!--logo end-->
           
            <div class="top-menu">

                <ul class="nav pull-right top-menu">
                    <li><a class="logout" style="background-color:red; border: 1px solid #a94442 !IMPORTANT" href="login.html">Logout</a></li>
            	</ul>
                
                <ul class="nav danger pull-right top-menu">
                    <li><a class="logout" style="background-color:#31708f" href="#" data-toggle="modal" data-target="#myModal">Upload App</a></li>
            	</ul>

                <ul class="pull-right" style="padding-top:20px;">
                	<li>Welcome <b><%= name %></b> &nbsp;</li> 
                </ul>
                
            	
            </div>